
doctype html
html(lang='en')
    head
        meta(name='theme-color', content='#CC0000')
        meta(name='apple-mobile-web-app-status-bar-style', content='#CC0000')

        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        link(href='styles.css', rel='stylesheet', type='text/css')
        style.
            #main {
                display:flex;
                justify-content:center;
                flex-direction: column;
            }
    body
        #main

            img(style="height:70vh; " src="https://cdn.discordapp.com/attachments/177081518844411904/234678580301398017/ontarget.png")
            form(action = "?start=1", method = 'post' id = 'guess')
                button(type="submit") Next
